Food/migrations/__pycache__/0003_item_item_image.cpython-37.pyc
Food/migrations/0003_item_item_image.py
Food/__pycache__/views.cpython-37.pyc
Food/__pycache__/urls.cpython-37.pyc
Food/__pycache__/views.cpython-37.pyc
Food/__pycache__/urls.cpython-37.pyc
Food/__pycache__/add_item_form.cpython-37.pyc
Food/__pycache__/views.cpython-37.pyc
Food/__pycache__/urls.cpython-37.pyc
Food/__pycache__/models.cpython-37.pyc
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Food/__pycache__/models.cpython-37.pyc
