{% extends 'Food/base.html' %} {% load static%}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>

		<!-- CSS only -->
	</head>
	<body>
		{% block body %} {% for item in allItems %}
		<div class="container">
			<img class="image" height=" 200px" src="{{ item.item_image }}" />
			<div class="details">
				<h5>{{ item.item_name }}</h5>
				<h6>{{ item.item_desc }}</h6>
				<h4>${{ item.item_price }}</h4>
			</div>

			<div>
				<a href="{% url 'food:detail' item.id %}" class="btn btn-success">
					Details
				</a>
			</div>
		</div>
		{% endfor %} {% endblock %}
	</body>
</html>
